.work-experience {
  padding: 20px;

  .experience-title {
    margin-top: 50px;
  }

  .experience-summary {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  p {
    /* font-size: 1.6rem; */
    /* letter-spacing: .2rem; */
  }
}

.employer-date {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.4em;
  padding-left: 2em;
}

li::before {
  color: white;
}
