/* global */
html{
  max-width: 40em;
  margin: auto;
  padding: 13px; 
}
body{
  background-color: #120c0e;
	color: #fff;
	font-family: monospace;
}
img {
  max-width: 500px; 
}
a {
  text-decoration: none;
  color: #eb99a1; 
}
a:hover {
  color: #DA4453; 
}

/* site */
.site-main {
  line-height: 1.75;
  max-width: 720px;
  margin: auto;
}
.fancy-font {
  font-family: Courier New, Courier, monospace;
}
.pull-right {
  float: right;
}
#site-header {
  overflow: hidden;
}
#site-header h1 {
  font-size: 1.5em;
  font-family: fancyRoman;
  display: inline-block;
  margin: 0;
  position: absolute;
  bottom: -5px;
}
#site-header nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
#site-header nav ul li:first-child {
  float: left;
}
#site-header nav ul li {
  display: inline-block;
  float: right;
}
#site-footer {
  margin-top: 25px;
}
#site-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#site-footer ul li {
  display: inline-block;
}
.site-title {
  font-size: 1.75em;
  margin-bottom: 0px;
}
.site-title a:hover {
  text-decoration: none;
  border: 0px;
  font-style: italic;
}
.site-header .meta {
  margin-top: 0px;
}

.main-title{
	font-size: xx-large;
}
.page{
	display: none;
  line-height: 1.75;
  max-width: 720px;
  margin: auto;
}
.card{
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin-top: 40px;
}
.card-title{
	font-size: -webkit-xxx-large;
}

.btn{
  border-style: solid;
  border-color: #eb99a1;
  color: #eb99a1;
  background-color: #120c0e;
  padding: 5px;
  font-family: monospace;
}
.btns{
  text-align: center;
  margin-top: 3rem;
}
.nav-btn{
  margin: 1rem;
  border-style: solid;
  border-color: #eb99a1;
  color: #eb99a1;
  background-color: #120c0e;
  font-size: 1rem;
  padding: 15px;
  font-family: monospace;
}

#home-post-header {
  border-bottom: 0px;
}

.post-title {
  margin-bottom: 5px;
}

/* proj page */
html{
  max-width: 45em;
  margin: auto;
  padding: 13px; 
}
body {
  font: font-weight(regular) 14px/1.5 "Roboto", sans-serif;
}

input {
  margin: 0;
}

.container {
  margin: 24px auto;
  max-width: 960px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table--bordered {
  border: 1px solid map-get($border-color, dark);
}

.table--shaded {
  <!-- border-bottom: 2px solid #c6d5e3; -->
}

.table__head {
  border-bottom: 2px solid #fff;
  color: darken(#c6d5e3, 25%);

  .table--shaded & {
    background: #f7fafc;
  }
}

.table__row {
  &:not(:last-of-type) {
    border-bottom: 1px solid map-get($border-color, light);
  }
}

.table__cell {
  padding: 16px 12px 14px;

  .table__head & {
    padding: 10px 12px 8px;
  }
  
  .table--bordered &:not(:last-of-type) {
    border-right: 1px solid map-get($border-color, light);
  }
  
  .table__head & {
    font-weight: font-weight(bold);
  }
}

.table__cell--icon {
  max-width: 50px;
  padding;

  .table__head & {
    padding: 10px 0 8px 12px;
  }
}

.table__cell--no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table__cell--remainder {
  width: 99%;
}

.ProjectTablee__name {
  max-width: 200px;
}

ol, ul {
	list-style: none;
}
